# Dependencies from this file can be installed with the following command:
# I derived this file from the output of the following command and then edited it
# in GitHub Actions. 
# pip install -r requirements.txt

ABlog
black
colorama
doit
fabric
holidays
ipython
jupyter
jupyter-book
jupyterlab
linearmodels
matplotlib
notebook
numpy
numpydoc
openpyxl
pandas
plotly
pytest
python-calamine
python-decouple
python-dotenv
scikit-learn
scipy
seaborn
sphinx
sphinx-book-theme
sphinx-design
sphinx
sphinxext-opengraph
sphinxcontrib-applehelp
sphinxcontrib-htmlhelp
sphinxext-rediraffe
statsmodels
wrds
xbbg
xgboost
xlrd
xlwings
yfinance
zstandard==0.23.0