# Dependencies from this file can be installed
# with the following command:
# pip install -r requirements.txt

black
colorama
doit
jupyter
massive
matplotlib
nasdaq-data-link
numpy
openpyxl
optuna
pandas
pandas-datareader
pip-autoremove
plotly
pyarrow
python-calamine
python-decouple
python-dotenv
scikit-learn
scipy
seaborn
setuptools
statsmodels
tabulate
wrds
xgboost
yfinance