# Dependencies from this file can be installed with the following command:
# pip install -r requirements.txt

black
colorama
doit
jupyter
matplotlib
nasdaq-data-link
numpy
openpyxl
optuna
pandas
pandas-datareader
pip-autoremove
plotly
python-calamine
python-decouple
python-dotenv
scikit-learn
scipy
seaborn
statsmodels
tabulate
wrds
xgboost
yfinance