/*
    You can add your own custom styles here.
*/

// This changes the background color of the code blocks
[data-scheme=light]{--pre-background-color:#F2F2F2}
[data-scheme=light] .chroma{background-color:#F2F2F2}

.article-content blockquote{
  margin-left: 0;
  margin-right: 0;
  border-inline-start:var(--blockquote-border-size) solid #F2F2F2;
  background-color:#F2F2F2;
  width: auto;
}

.article-content pre,
.article-content .highlight {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

.article-content .gallery {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}