/* Add border around code blocks 
.prose pre {
  border: 2px solid rgba(var(--color-neutral-300), 1);
  border-radius: 0.5rem;
  overflow: visible;
  padding-bottom: 0.5rem;
}

.prose pre code {
  display: block;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.dark .prose pre {
  border: 2px solid rgba(var(--color-neutral-500), 1);
} */

/* Add border around code blocks */
.prose pre {
  border: 1px solid rgba(var(--color-neutral-300), 1);
  border-radius: 0.25rem;
}

.dark .prose pre {
  border: 1px solid rgba(var(--color-neutral-500), 1);
}

/* Add border around images */
.prose img {
  border: 1px solid rgba(var(--color-neutral-300), 1);
  border-radius: 0.25rem;
  /* padding: 0.65rem; */
}

.dark .prose img {
  border: 1px solid rgba(var(--color-neutral-500), 1);
}

/* Add border around tables and make tables scrollable horizontally with padding */
.prose table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid rgba(var(--color-neutral-300), 1);
  border-radius: 0.25rem;
  padding-top: 0.65rem;
  padding-bottom: 0.15rem;
  padding-left: 1.05rem;
  padding-right: 1.05rem;
}

.dark .prose table {
  border: 1px solid rgba(var(--color-neutral-500), 1);
}